@font-face {
    font-family: 'MCpixel';
    src: url('../Fonts/Retro Gaming.ttf');
}

@font-face {
    font-family: 'cocogoose';
    src: url('../Fonts/Cocogoose-Pro-Regular-trial.ttf');
}

@font-face {
    font-family: 'Typewriter';
    src: url('../Fonts/JMH\ Typewriter\ dry-Thin.otf');
}